
<div class="container">
    <div class="col">
        <br>
        <h3>About Me</h3>
        <br>
    </div>
</div>    

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col">
        <div class="card mb-3" style="max-width: auto;">
            <div class="row g-0">
                <div class="col-md-4">
                    <%= image_tag "avatar.jpeg", class: "img-fluid rounded-start", alt: "Foto de perfil" %>
                </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Isam Hajji</h5>
                    <p class="card-text">Isam Hajji Houari is a 22-year-old football player who enjoys listening to music, tennis and social media.</p>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
                <a class="twitter-timeline" data-width="auto" data-height="500" data-theme="light" href="https://twitter.com/archillect?ref_src=twsrc%5Etfw">Tweets by archillect</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
  </div>
</div>
